@model IEnumerable<Choozy.Data.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            @Html.Partial("_PersonSummary", item)
        }
    </div>
</div>
